<p>
	Thank you for your interest in supporting Wikipedia and free knowledge!
</p>

<p>
	We are now processing your enquiry. Once this is completed, you will receive an email that
	tells you all about the next steps.
</p>
