{% if donation_receipt %}
	Falls Sie Ihre Spende{% if (donation_interval > 1) %}n{% endif %} steuerlich absetzen möchten, können Sie sich jetzt schon den vereinfachten Zuwendungsbescheid herunterladen: <a href="https://spenden.wikimedia.de/page/Spendenquittung">Zur Spendenquittung</a>.
	Sofern Ihre Zuwendung nicht 200 Euro übersteigt, können Sie diesen zusammen mit {% if (donation_interval > 1) %}Ihren Kontoauszügen{% else %}Ihrem Kontoauszug{% endif %} beim Finanzamt einreichen. Oder Sie warten bis März kommenden Jahres, dann verschicken wir eine Sammelbescheinigung für alle Beträge ab 5 Euro automatisch an Ihre Postadresse.
{% endif %}

Sie sind uns wichtig und und es sollen keine Fragen rund um Ihre Spende{% if (donation_interval > 1) %}n{% endif %} offen bleiben. Daher können Sie sich jederzeit über spenden@wikimedia.de oder unter 030 - 219 158 2619 an uns wenden. {% if not donation_receipt %}Über diesen Weg können Sie uns natürlich auch noch nachträglich Ihre Adresse mitteilen, falls Sie doch noch eine Zuwendungsbescheinigung von uns erhalten möchten.{% endif %}

Mit Ihrem Engagement helfen Sie Wikipedia zu finanzieren. Gemeinsam mit den ehrenamtlichen Autorinnen und Autoren sorgen wir für einen freien Zugang zu Wissen. Es freut mich, dass Sie dabei sind.

Freundliche Grüße aus Berlin und Ihnen noch einen angenehmen {$ current_weekday $}.