<p>Vielen Dank für Ihre Nachricht!</p>

<p>Wir werden uns schnellstmöglich mit Ihnen in Verbindung setzen, um Ihre Fragen zu beantworten.</p>

<p>Bitte bedenken Sie, dass wir während unser Spendenkampagne mehrere Hundert E-Mails bekommen. Daher kann es durchaus vorkommen, dass wir Ihre Anfrage nicht sofort beantworten können.</p>

<p>Wir bitten um Ihr Verständnis.</p>
