<p>
Herzlichen Dank für Ihr Interesse an einer Mitgliedschaft bei Wikimedia Deutschland. 
In den kommenden Tagen erhalten Sie zwei E-Mails mit umfassenden Informationen zu unseren Projekten 
und wie wir Wikipedia und Freies Wissen in Deutschland fördern.
</p>
