
<table class="donors">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Betrag</th>
    <th scope="col">Spendenkommentar</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">Hendrik Klindworth</td>
      <td>65.536 &euro;</td>
      <td>
        <p>Wikimedia setzt sich für den freien Zugang zu Wissen ein. Das ist heutzutage wichtiger als jemals zuvor. Daher unterstütze ich dieses Ziel gerne.</p>
      </td>
    </tr>
    <tr>
      <td scope="row">AVM Computersysteme Vertriebs GmbH</td>
      <td>29.000 &euro;</td>
      <td>
        <p>Wikipedia ist wichtig! Im Unternehmen erfahren wir täglich die Kraft des Wissens. Und wie wichtig es ist, dass Wissen im Unternehmen bekannt ist. Wikipedia ist ein fester Bestandteil des digitalen Lebens und essentiell für die Gesellschaft. Denn der freie Zugang zu Wissen ist ein großer Fortschritt. Wir unterstützen das Team von Wikipedia, das sich täglich engagiert für Qualität und Vielfalt.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">dSPACE GmbH</td>
      <td>26.000 &euro;</td>
      <td>
        <p>Mir ist diese Informationsquelle wichtig, weil ich sie als weitgehend neutral ansehen kann und durch die Vielzahl von Autoren und Beobachtern ein hohes Maß an Informationsqualität gegeben ist.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">IGES Institut GmbH</td>
      <td>12.000 &euro;</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">TNG Technology Consulting GmbH</td>
      <td>8.762 &euro;</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Solutio GmbH</td>
      <td>7.750 &euro;</td>
      <td>
        <p>Unsere Mitarbeiter greifen gerne auf das gesammelte Wissen in Wikipedia zurück - kompakt und kompetent. Mit unserer Spende möchten wir einen Beitrag dazu leisten, dass die Enzyklopädie in ihrer jetzigen Form bestehen bleibt und auch in Zukunft weiter ausgebaut wird.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Michael Fernau</td>
      <td>6.000 &euro;</td>
      <td>
        <p>Für mich ist die Wikipedia als "soziales Lexikon" eine wichtige Bereicherung von Recherchemöglichkeiten durch die Nutzung der vielfältigsten Kenntnisse der Gemeinschaft der Autorinnen und Autoren. Bei manchen Beiträgen enthalten zudem die Diskussions- und die Versionen-Seiten reiches Material zur kritischen Betrachtung der Artikelthemen und bisweilen auch für eigene Sozialstudien. Eine demokratische, frei zugängliche Wissensdatenbank, für die ich einen nicht abebbenden Zustrom an Artikeln auch von neu dazukommenden Fachleuten erhoffe. Großartig! Unverzichtbar! Verdient jede Unterstützung!</p>
      </td>
    </tr>

    <tr>
      <td scope="row">HMS Analytical Software GmbH</td>
      <td>6.000 &euro;</td>
      <td>
        <p>Für uns als IT-Beratungshaus steht „Wissen“ absolut im Mittelpunkt. Diese Fokussierung gewährleistet erfolgreiche Projekte und zieht hochqualifizierte Bewerber an. Um uns dieses Wissen anzueignen, bedienen wir uns zahlreicher Informationsquellen – und natürlich ist Wikipedia als eine zuverlässige und ausgesprochen umfangreiche Wissensdatenbank ganz vorne mit dabei.</p>
      </tr>
    </tr>

    <tr>
      <td scope="row">AUVESY GmbH &amp; Co KG</td>
      <td>5.050 &euro;</td>
      <td>
        <p>Hinter Wikipedia stehen viele freiwillige, ehrenamtliche Helfer, die die Vielzahl an Artikeln und Einträgen koordinieren. Damit das enzyklopädische Angebot weiterhin frei verfügbar sein kann, unterstützen wir, die AUVESY GmbH & Co KG, Wikipedia mit unserer Spende.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Barbara Mayer</td>
      <td>4.700 &euro;</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Heidezüchtung Kramer</td>
      <td>4.000 &euro;</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Susanne L.</td>
      <td>4.000 &euro;</td>
      <td>
        <p>Einen Riiiesen-Dank allen Wiki-Mitarbeiterinnen und –Mitarbeitern!</p>
      </td>
    </tr>

    <tr>
      <td scope="row">OdiSys GmbH</td>
      <td>4.000 &euro;</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Zahnarztpraxis Dres. Dajka</td>
      <td>3.100 &euro;</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Andreas Gall</td>
      <td>3.000 &euro;</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Mietens & Partner GmbH</td>
      <td>3.000 &euro;</td>
      <td>
        <p>Für unsere Mitarbeiter gehört Wikipedia seit Jahren zu den wichtigsten Informationsquellen ihrer Recherchearbeit. Ein großes Dankeschön an das Wikipedia-Team und die unzähligen freien Autoren.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Nicolas Woll / Designscape</td>
      <td>3.000 &euro;</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">ibb</td>
      <td>2.800 &euro;</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Christoph Röllig</td>
      <td>2.700 &euro;</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Stephan Douteil Elektromaschinenbau</td>
      <td>2.500 &euro;</td>
      <td>
        <p>Wir unterstützen Wikimedia, weil jeder die Chance haben soll, sich durch Wissen vor Fehlern zu schützen.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">marmalade GmbH</td>
      <td>2.275 &euro;</td>
      <td>
        <p>Frei zugängliches Wissen ist ein Privileg. Für uns als IT-Unternehmen mit starkem Fokus im Open Scource Bereich ist es eine Verpflichtung, dieses offene Prinzip der Sammlung und Teilung von Wissen und Informationen zu unterstützen und aufrecht zu erhalten. Vielen Dank für Euer Engagement!</p>
      </td>
    </tr>

    <tr>
      <td scope="row">proPlant GmbH</td>
      <td>2.200 &euro;</td>
      <td>
        <p>Der Vorschlag kam aus unserer Mitarbeiterschaft, weil viele davon diese freie Online-Enzyklopädie zukünftig weiterhin nutzen möchten.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Franz Heim</td>
      <td>2.100 &euro;</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Familie Frohmann</td>
      <td>1.750 &euro;</td>
      <td>
        <p>wikipedia ist für uns eine instanz des wissens und der wahrheit; beides werte, die wir gerne unterstützen.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Avinway Consultants S. Asendorf</td>
      <td>1.600 &euro;</td>
      <td>
        <p>Mit Wikipedia allen Menschen Wissen von hoher Qualität zugänglich zu machen ist ein großer Schritt in Richtung Chancengleichheit für alle Menschen. Dieses Projekt immer weiter zu entwickeln braucht viel Engagement der Aktiven, die meinen höchsten Respekt genießen.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Dr. Christian Tamm</td>
      <td>1.550 &euro;</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Stefan Kamsties</td>
      <td>1.500 &euro;</td>
      <td>
        <p>Ich halte frei und einfach verfügbares, geprüftes und belastbares Wissen für die großartigste Sache seit Erfindung der Aufklärung. Die Arbeit von Wikipedia verdient unbedingt Unterstützung. Vielen Dank, liebe Beitragende!</p>
      </td>
    </tr>

    <tr>
      <td scope="row">PW AG Wirtschaftsprüfungsgesellschaft</td>
      <td>1.350 &euro;</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Aegidius Schuster</td>
      <td>1.300 &euro;</td>
      <td>
        <p>Alles kostenlos - alles umsonst - war gestern.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Radiologische Praxis am Feuersee in Stuttgart</td>
      <td>1.150 &euro;</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Prof. Rethmeier</td>
      <td>1.075 &euro;</td>
      <td>
        <p>Seit WIKIPEDIA ist Wissen unkompliziert für jede(n) verfügbar. Durch die transparente Diskussion der Inhalte ist das fachliche Niveau quasi wissenschaftlich!</p>
      </td>
    </tr>

    <tr>
      <td scope="row">OxyCare GmbH Sauerstoff Beatmungstechnik</td>
      <td>1.000 &euro;</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Ordix Ag</td>
      <td>Betrag anonym</td>
      <td></td>
    </tr>
  
  </tbody>
</table>
