<a href="https://wikimedia.de/wiki/Transparenz" target="_blank">
  <img src="/skin/10h16/_assets/img/itz_logo_white.png" alt="Initiative Transparente Zivilgesellschaft">
</a>

<p>
  <img src="/resources/de_DE/WMDE-application-of-funds-diagram-2017.png" />
</p>

<p>
  <img src="/resources/de_DE/WMDE-application-of-funds-2017.svg" />
</p>

<hr/>

<p>
  <a href="https://meta.wikimedia.org/wiki/Wikimedia_Foundation_Annual_Plan/2016-2017/Final">Erfahren Sie mehr zum Jahresplan<br />der Wikimedia Foundation</a>
  <a href="https://meta.wikimedia.org/wiki/Wikimedia_Deutschland/Jahresplanung_2017/Ziele,_Indikatoren_und_Wirtschaftsplan">Erfahren Sie mehr zum Jahresplan<br />von Wikimedia Deutschland</a>
</p>
