<p>
	Thank you for verifying your email address!
</p>

<p>
	We have stored your email address in our system and have just sent you a confirmation email.
</p>

<p>
	Thank you very much for wanting to support us!
</p>
