<p>
  <strong>Your support is tax-deductible.</strong><br />
  <br />
  The Wikimedia Fördergesellschaft is recognized as a nonprofit organisation and
  qualifies to issue donation receipts. As a ‘thank you’ and to show our appreciation,
  we automatically issue a donation receipt for each donation of EUR 5 and above,
  unless you expressly object. We send these receipts at the end of the first quarter
  of the year following the donation. If you need your donation receipt sooner, just
  let us know. On request, we are happy to send the receipt sooner. Please just send
  us an email to spenden@wikimedia.de or use our <a href="/contact/get-in-touch">contact form</a>.
</p>

<p>
  Up to an amount of EUR 300, the tax office always accepts the so-called simplified
  donation receipt in combination with your account statement as proof of your
  donation. Should you wish to use the simplified donation receipt, you can download
  it here as a <a href="/resources/de_DE/Vereinfachter_Zuwendungsbescheid_Foerdergesellschaft.pdf" target="_blank">PDF document</a>.
</p>

<p>
  Please note that the address has to be entered in the reference line of independent
  bank transfers if you wish to receive a donation receipt. You can also send us your
  address via the donation form, by the way. To do this, please select the option
  "bank transfer" and enter your address. Subsequently, you will receive a specific
  bank transfer code from us. Just enter this into the reference line of your bank
  transfer. This enables us to automatically process the payment. For us, this is the
  easiest way to do this.
</p>
