
<p>
	In line with Article 28 of the German Federal Data Protection Act (BDSG), we object to any commercial use and transfer of our data.
</p>
<p>
	<strong>Provider of services</strong><br />
		Wikimedia Deutschland e. V.<br />
		Tempelhofer Ufer 23-24<br />
		10963 Berlin<br />
		Germany<br />
	<br />
	E-Mail: spenden@wikimedia.de <br />
	Telephone: (030) 577 11 62-0<br />
	Fax: 01805 - 22 71 17-619 (within Germany 14 ct/min from a landline, up to 42 ct/min from a mobile phone)<br />
</p>

<p>
	<strong>Executive Director</strong><br />
	Dr. Christian Humborg<br />
</p>

<p>
	<strong>Wikimedia Fördergesellschaft</strong><br />
	exclusively and directly pursues nonprofit objectives in accordance with the section 'tax-privileged purposes' of the German Fiscal Code.<br />
	<br />
	Account for donations: <br />
	IBAN: DE33 1002 0500 0001 1947 00 <br />
	BIC: BFSWDE33BER <br />
	Bank für Sozialwirtschaft <br />
	<br />
	Registered at the district court of Berlin-Charlottenburg with the registration number 130183 B.
</p>

<p>
	<strong>Disclaimer</strong><br />
	The contents of this web project have been diligently checked and prepared to the best of
	our knowledge. However, we do not claim that the information is complete, up-to-date,
	high-quality and correct. We cannot assume any liability for damages incurred due to
	trusting the content on this website or the use of this content.
</p>
