
<p>
	In line with Article 28 of the German Federal Data Protection Act (BDSG), we object to any commercial use and transfer of our data.
</p>
<p>
	<strong>Provider of services</strong><br />
		Wikimedia Deutschland e. V.<br />
		Tempelhofer Ufer 23-24<br />
		10963 Berlin<br />
		Germany<br />
	<br />
	E-Mail: spenden@wikimedia.de <br />
	Telephone: (030) 577 11 62-0<br />
	Fax: (030) 577 11 62-99<br />
	<br />
	VAT Reg No: DE263757776<br />
</p>

<p>
	<strong>Executive Directors</strong><br />
	Franziska Heine, Dr. Christian Humborg<br />
</p>

<p>
	<strong>Wikimedia Deutschland</strong><br />
	exclusively and directly pursues nonprofit objectives in accordance with the section 'tax-privileged purposes' of the German Fiscal Code.<br />
	<br />
	Account for donations: <br />
	IBAN: DE09 3702 0500 0003 2873 00 <br />
	BIC: BFSWDE33BER <br />
	Bank für Sozialwirtschaft <br />
	<br />
	Registered in the Register of Associations at the Berlin-Charlottenburg district court with the registration number VR 23855 B.
</p>

<p>
	<strong>Disclaimer</strong><br />
	The contents of this web project have been diligently checked and prepared to the best of
	our knowledge. However, we do not claim that the information is complete, up-to-date,
	high-quality and correct. We cannot assume any liability for damages incurred due to
	trusting the content on this website or the use of this content.
</p>
