<p>
	This website needs <a href="https://de.wikipedia.org/wiki/Javascript">JavaScript</a> to
	function properly. Unfortunately, you have disabled JavaScript.
</p>



<p>
	You can still donate via bank transfer. Please use the following account details for
	this purpose:<br /><br />
	<strong>Wikimedia</strong><br />
	<strong>IBAN: DE33 1002 0500 0001 1947 00</strong><br />
	<strong>BIC: BFSWDE33BER</strong>
</p>

<p>
	<a href="https://www.enable-javascript.com/">Find out how you can enable JavaScript</a> in
	order to donate or to become a member.
</p>
