<h3>
	Responsible party and ways to contact the data privacy officer
</h3>
<p>
	The responsible party for data processing on our website is the
</p>

<p>
	Wikimedia Deutschland e. V.<br />
	Tempelhofer Ufer 23-24<br />
	10963 Berlin<br />
	E-Mail: <a href="mailto:datenschutz@wikimedia.de">datenschutz@wikimedia.de</a><br />
	<br />
	Telefon: +49 (0) 30-577 11 62-0<br />
	Fax: +49 (0) 30-577 11 62-99<br />
	<br />
	Geschäftsführende Vorstände: Franziska Heine, Dr. Christian Humborg<br />
	Registered in the Register of Associations at the Berlin-Charlottenburg
	district court with the registration number 95 VR 590 B.<br />
	<br />
	VAT Reg No: DE263757776
</p>

<p>
	We have appointed a data privacy officer for our company.
</p>

<p>
	Thorsten Feldmann, LL.M.<br />
	JBB Rechtsanwälte Jaschinski Biere Brexl Partnerschaft mbB<br />
	Christinenstr. 18/19<br />
	10119 Berlin <br />
	Telephone: (030) 44 37 65-0<br />
	datenschutz@wikimedia.de
</p>

<h3>
	Purposes of and legal basis for data processing
</h3>

<ol>
	<li>
		<b>General use of the website</b>
		<p>
			When using this offer, the data sent by your browser to the server is
			collected and stored. In general, this includes information about the
			type and the version of your browser, the operating system you use, the
			referrer URL (the website where you began your navigation to our website)
			as well as the time of the server request. This data cannot be linked to
			specific persons. We will carry out a statistical evaluation of the data.
			We process your IP address while the connection is established to enable
			us to make our website available to you. The legal basis for this is Art.
			6 para. 1 lit. f) GDPR. Our legitimate interest lies in the aforementioned
			purpose.
		</p>
	</li>

	<li>
		<b>Collection and processing of personal donor data</b>
		<p>
			Wikimedia Deutschland collects and processes a range of
			personal data about their donors, including the donated amount, the
			address, telephone number, any donation comments and an email address.
			Tax legislation regulations oblige us to keep records of contact details
			and donation amounts. In addition, we also collect your bank details if
			you pay by bank transfer or direct debit.
		</p>

		<p>
			We will not publish, sell or let personal data or offer in them in any
			other way unless the donor has authorised us to do so, for example for
			publication in the donation ticker, or if this is necessary and allowed
			in line with the applicable legal requirements. If a donor has not
			expressly allowed the publication of their donor data, the data will be
			treated as confidential in line with the provisions of privacy legislation.
			Donor contact details are primarily used for the following purposes:
		</p>

		<ul>
			<li>Payment processing</li>
			<li>Sending donation receipts by post</li>
			<li>Acknowledgements of individual donations</li>
			<li>Sending information about current and future Wikimedia activities</li>
			<li>Sending reminders about opportunities to donate by email</li>
			<li>Internal evaluation and accounting</li>
			<li>Reporting to financial authorities within the applicable legal framework</li>
			<li>Informing donors about changes to this guideline</li>
		</ul>

		<p>
			The applicable legal basis is Art. 6 para 1 lit. b) GDPR. The legal basis
			for the legally required retention of the donation documents is Art. 6
			para 1 lit. c) GDPR.
		</p>

		<p>
			If you write a donation comment and send it to us under your own name, we
			process the comment and your name in order to potentially take your opinion
			and your comments into consideration in the future. If you additionally
			agree to the publication of the comment, we will publish your comment on
			Wikimedia channels. You can revoke your consent at any time with effect
			for the future, for example by sending an email to spenden@wikimedia.de.
			Up to that point, your personal data will be processed and immediately
			deleted afterwards. The legal basis for processing is Art. 6 para 1
			lit. a) GDPR.
		</p>
	</li>

	<li>
		<b>Calls for donations by email</b>
		<p>
			If you have sent us a donation and have not objected in advance, we will 
			add your contact details to our calls for donations newsletter. In this 
			case, we will use your email address to send you information about our 
			latest calls for donations. The legal basis for processing your data is 
			(Art. 6 para 1 lit. f) GDPR), and our legitimate interest is to inform 
			you about the use of your donation, about new funding campaigns, and to 
			ask you for a donation. Irrespective of sending us a donation, you can 
			also register for our call for donations newsletter. In that case, we use 
			your e-mail address to send you information about our latest calls for 
			donations. The legal basis for processing your data in such a way is your 
			consent (Art. 6 para 1, lit. a) GDPR).
		</p>

		<p>
			If you already sent us a donation in the past, we will use your personal 
			data stored in connection with your previous donations (particularly your 
			first name, surname, e-mail address, street and street number, postcode, 
			city, country, form of address, and title) in order to personalize the 
			newsletter addressed to you, for example by referring to previous donations.
			And finally, we analyze your use of our newsletter, e.g. by checking which 
			link or banner you clicked. We do this in order to analyze how our calls for 
			donations are received and – if applicable – how we may improve them in future.
		</p>

		<p>
			Processing data for this purpose is based on Art. 6 para1 lit.) GDPR, and
			our legitimate interest lies in the aforementioned purposes. 
		</p>
		
		<p>
			Revoking and objecting: You can revoke your consent with future effect at any 
			time or declare your objection to receiving calls for donations, e.g. by sending 
			an e-mail to spenden@wikimedia.de or by clicking an unsubscribe link in one of the 
			emails sent to you. Revoking or objecting does not affect the legality of processing 
			data in the past. If you do not consent to the analysis, you can object at any time 
			by cancelling the e-mails. 
		</p>

	</li>

	<li>
		<b>Calls for donations by post</b>
		<p>
			Every once in a while, we promote a donations campaign by post and use the
			address data stated in your donation for this purpose. You can contest
			receiving postal mail at any time, either by sending an email to
			spenden@wikimedia.de or via the contact form. Immediately after receipt of
			your objection, your address will be removed from our mailing list. The
			basis for sending calls for donations by post is our legitimate interest
			in telling our donors about our current calls for donations in line with
			Art. 6 para 1 lit. f) GDPR. We use your address data to send calls for
			donations by post until you object, but at the most for a period of 3 years, 
			starting with the end of the year when you made your last donation. 
			Subsequently, the data is deleted if no other processing purposes require 
			further storage of the data.
		</p>
	</li>
</ol>

<h3>Data recipients</h3>
<p>
	In order to fulfil our tasks (sending donation receipts and information), we work with
	external contractors who potentially process personal data for these purposes. These
	service providers are bound to Wikimedia Deutschland by contract and can only
	use personal data they receive in this context for the respective agreed purpose.
</p>

<p>
	In addition, we work with payment service providers (PayPal (Europe) S.à r.l. et Cie,
	S.C.A. and the Sofort GmbH). We transfer the data necessary for the payment to these
	service providers. All remaining processing of the payment takes place on the platforms
	of the service providers without us having any knowledge of or influence on any data
	processing taking place on these platforms. For credit card payments, we work with the
	payment service provider Micropayment. Please find more information about the processing
	of your data with our payment service providers below:
</p>
<ul>
	<li><a href="https://www.paypal.com/de/webapps/mpp/ua/privacy-full?locale.x=de_DE" target="_blank">Privacy Statement</a> of the PayPal (Europe) S.à r.l. et Cie, S.C.A.</li>
	<li><a href="https://www.sofort.de/datenschutz.html" target="_blank">Privacy Statement</a> of the Sofort GmbH (in German)</li>
	<li><a href="https://www.paypal.com/de/webapps/mpp/ua/privacy-full?locale.x=de_DE" target="_blank">General Privacy Policy</a> of the Micropayment GmbH</li>
</ul>

<p>
	Any processing of data necessary for the cooperation with these service providers is
	justified on the basis of Art. 6 para. 1 lit. f) GDPR. Our legitimate interest in this
	context is to offer you payment options that are as convenient as possible.
</p>

<p>
	Furthermore, a data transfer to third countries is not taking place.
</p>

<h3>Duration of storage</h3>
<p>
	Our log files are stored for 30 days.
</p>

<p>
	We store the data necessary for the donation for a period of 10 years from the end of the
	year of your final donation.
</p>

<p>
	If you gave us your consent to send you emails or did not object to receiving our donations 
	newsletter, we will always process and store your data until you revoke your consent or object 
	to their use. If we send you our donations newsletter based on our legitimate interest, we will 
	process your data for this purpose, but at the most for a period of 3 years, starting with the 
	end of the year when you made your last donation.
</p>

<h3>Data subject rights</h3>
<p>
	The General Data Protection Regulation (GDPR) guarantees you certain rights that you can
	exercise when interacting with us – insofar as the legal requirements are in place.
</p>

<p>
	Art. 15 GDPR – Right of access by the data subject: You have the right to request a
	confirmation from us whether we process personal data relating to you and if so, to
	specify the data and qualify how we process your data.
</p>

<p>
	Art. 16 GDPR – Right to rectification: You have the right to request the immediate
	correction of incorrect personal data relating to you. In this context, you also have
	the right to demand the completion of incomplete personal data – also by means of an
	additional declaration – in consideration of the purposes of processing the data.
</p>

<p>
	Art. 17 GDPR – Right to erasure (‘right to be forgotten’) You have the right to demand
	the erasure of personal data relating to you without delay. Please note the exception
	as stated under items II. and IV.
</p>

<p>
	Art.18 GDPR – Right to restriction of processing: You have the right to demand the
	restriction of processing from us.
</p>

<p>
	Art. 20 GDPR – Right to data portability: In the case of data processing with your
	consent or to fulfil a contract, you have the right to receive the personal data
	relating to you, which were made available to us by you, in a structured, commonly
	used and machine-readable format, and have the right to transmit those data to another
	controller without hindrance from us or to transmit the data directly to the other
	controller insofar as this is technically possible.
</p>

<p>
	Art. 21 GDPR – Right to object: You have the right to object at any time, on grounds
	relating to your particular situation, to the processing of personal data relating to
	you that is necessary either due to a legitimate interest on our part or to safeguard
	the performance of a task that is in the public interest, or in exercising public
	authority.
</p>

<p>
	If you object, we will no longer process  your personal data unless we can provide
	evidence of compelling legitimate grounds for processing your data, which override
	your interests, rights and freedoms, or processing is necessary for the establishment,
	exercise or defence of legal claims.
</p>

<p>
	Insofar as we process personal data for direct mailings, you have the right to object
	against the processing of your data at any time. If you object to the processing for
	the purpose of direct mailings, we will no longer process your data for these purposes.
</p>

<p>
	Art. 77 GDPR in conjunction with Art. 19 GDPR – Right lodge a complaint with a
	supervisory authority: You have the right to lodge a complaint with a supervisory
	authority at any time, particularly in the Member State of your place of residence,
	your place of work or the place of the alleged infringement, if you are of the opinion
	that the processing of personal data relating to you infringes applicable law.
</p>

<p>
	If you have given us your consent, you have the right to revoke it at any time. In that
	case, all data processing we have carried out until your revocation remains legitimate.
	In order to revoke your consent, just click on the link you receive with each email and
	unsubscribe from the email service, change the settings in your user account or send a
	message to datenschutz@wikimedia.de. If you notify us in this message that you do not
	wish to receive emails in the future, no more messages will be sent to the email address
	indicated by you.
</p>

<h4>Obligation to provide data</h4>
<p>
	Under no circumstances are you legally or contractually obliged to make personal data
	available to us. However, without making your personal data available to us, we are not
	in a position to offer you our services.
</p>

<h4>Automated decision-making (including profiling)</h4>
<p>
	We do not make use of automated decision-making that may have legal implications for you
	or disadvantage you.
</p>

<h3>Data collection on our website</h3>

<ol>
	<li>
		<b>Cookies</b>
		<p>
			Some of our web pages use cookies. These cookies ensure the retention of
			specific data while you are using the web page. However, you can disable
			the storage of cookies or set your browser in a way that only stores the
			cookies for the duration of the respective connection to the internet. For
			spenden.wikimedia.de, we only use session cookies and the cookies are
			deleted at the end of each session. The cookies are not passed on to third
			parties. Cookies for de.wikipedia.org are explained by the Wikimedia
			Foundation under the following link:
			https://wikimediafoundation.org/wiki/Cookie_statement
		</p>
		
		<p>
			Processing takes place based on our legitimate interest in the aforementioned 
			purposes (Art. 6 para 1 lit. f)).
		</p>	
	</li>

	<li>
		<b>Collection and processing of personal user data</b>
		<p>
			This website uses the open source web analysis service Matomo. We use a Matomo 
			version without cookies, which means that we do not store any information on 
			your device and do not access any information stored on your device, either. 
			With Matomo, we collect specific information about your use of our website 
			(e.g. which elements you click) in order to optimize and improve our website. 
			We also use A/B tests for this purpose. In addition, we use the function “heatmaps” 
			to analyze cursor movements and interactions with elements. This provides us with 
			particularly useful information about how our website is used. Your IP address is 
			shortened before storage, which means that from the outset, drawing conclusions 
			about you as a person is rendered impossible.
		</p>

		<p>
			Processing takes place based on our legitimate interest in the aforementioned purposes 
			(Art. 6 para 1 lit. f)).
		</p>
	</li>
</ol>

<!-- placeholder_matomo -->

<h3>Wikimedia Donor Privacy Policy</h3>
<p>
	As a regional Wikimedia association, we support and observe the Wikimedia Privacy Policy.
	<a href="https://foundation.wikimedia.org/wiki/Privacy_policy">Please take a look at the Privacy Policy of the Wikimedia Foundation here </a>.
</p>

<h3>Any questions about data privacy?</h3>
<p>
	If you have any questions or comments about data privacy at Wikimedia 
	Deutschland, please send an email to datenschutz@wikimedia.de.
</p>
