<p>
	Thank you for your interest in supporting Wikipedia and free knowledge!
</p>

<p>
	We just sent an email to the email address given by you. Please confirm with a click on
	the link in this email that you agree to receive emails from us. This will complete your
	successful registration.
</p>
