<p>
	Thank you for your interest in supporting Wikipedia and free knowledge!
</p>

<p>
	We just sent an email to the email address given by you.
	<strong>
		Please confirm with a click on the link in this email that you
		agree to receive emails from us.
	</strong>
	This will complete your	successful registration.
</p>
