<p>
	Thank you for your interest in a membership at Wikimedia Deutschland. 
	In the next days you will receive two emails with information about our projects and how we support Wikipedia and free knowledge. 
</p>
