__NOTOC__
<div id="greenBox" class="boxShadow">

=== Wer ist Wikimedia Deutschland? ===
Wikimedia Deutschland ist der deutsche Förderverein der Wikipedia. Der gemeinnützige Verein wurde im Juni 2004 von Wikipedia-Autoren in Berlin gegründet. Zweck des Vereins ist es, die Erstellung, Sammlung und Verbreitung Freier Inhalte zu fördern. Damit setzen wir uns für das Menschenrecht auf Bildung ein.


=== Wer ist die Wikimedia Foundation? ===
Wikimedia ist eine internationale Bewegung zur Förderung Freien Wissens und unterstützt verschiedene Projekte. Das größte und bekannteste ist Wikipedia - die freie Enzyklopädie. Betrieben wird Wikipedia von der Wikimedia Foundation (Stiftung) mit Sitz in San Francisco (USA). Sie ist eine internationale Non-Profit-Organisation zur Förderung von Freiem Wissen und wurde 2003 von Jimmy Wales gegründet. Ausführliche Informationen finden Sie in den jährlichen [http://wikimediafoundation.org/wiki/Annual_Report Tätigkeitsberichten] der Wikimedia Foundation.

In knapp 40 Ländern haben sich sogenannte Wikimedia Chapter gegründet, die die Arbeit und die Ziele der Wikimedia Foundation unterstützen. Die Chapter sind unabhängige Organisationen, die die Idee Freien Wissens in einem bestimmten Land fördern. Wikimedia Deutschland ist das älteste und größte Chapter.


=== Wer ist die Wikimedia Fördergesellschaft? ===
Die gemeinnützige Wikimedia Fördergesellschaft mbH gehört zu 100 % dem Verein Wikimedia Deutschland. Sie ist ausschließlich für die Beschaffung von Mitteln für die Zwecke von Wikimedia Deutschland und der Wikimedia Foundation zuständig. Die beschafften Mittel werden zur Förderung von Bildung, Wissenschaft und Forschung eingesetzt und unter den beiden Organisationen nach Abzug der Kosten aufgeteilt. Die Fördergesellschaft ist vom Finanzamt Berlin als gemeinnützig anerkannt.


=== Was ist ein Wikimedia Chapter? ===
In knapp 40 Staaten haben sich Freiwillige zu sogenannten Chaptern (Länderorganisationen) zusammengeschlossen. Damit ist es möglich, Freies Wissen und die Wikimedia Projekte professionell zu unterstützen. Das älteste und weitaus größte Chapter ist Wikimedia Deutschland. Die Länderorganisationen sind unabhängig von der Wikimedia Foundation - arbeiten aber eng mit dieser zusammen.


=== Kann ich Wikipedia mit einer SMS unterstützen? ===
<div>
<div style="float:right; width:60%; margin-left:50px ">[[Datei:SMS-Spendenbanner WIKI rosa.png|link=]]
</div>
Sie können Wikipedia natürlich auch mit einer SMS unterstützen:

</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
Hinweis: Von den 5 Euro gehen 4,83 Euro direkt an Wikimedia Deutschland. Kosten zzgl. einer Standard-SMS. Zuwendungen per SMS können steuerlich nicht als Spende abgesetzt werden!
<br/>
<br/>
<br/>


=== Kann ich per Überweisung spenden? ===

In unserem [https://spenden.wikimedia.de/spenden/ Spendenformular] können Sie auch eine Überweisung abschließen. Nachdem Sie Ihre Kontaktdaten hinterlegt haben, werden Ihnen die Kontodaten und ein Überweisungscode angezeigt. Der Code ermöglicht, dass Sie eine Zuwendungsbestätigung erhalten können. Sie müssen ihn im Verwendungszweck angeben, damit wir Ihre Adresse Ihrer Zahlung zuordnen können und die Zuwendungsbestätigung sie postalisch erreicht.

Wenn Sie möchten, können Sie aber auch eine Überweisung ohne unser Spendenformular tätigen. Nutzen Sie hierfür bitte folgende Kontoverbindung:


<html>
<div style='margin:2px; margin-left:1em; padding-left:1em; background-image: url("https://wiki.wikimedia.de/w/img_auth.php/6/67/Spenden_wikimedia_unterstuetzen_sie_uns_2011.png"); background-repeat: no-repeat; width: 180px; height: 180px; color:black;'>
  <div style='position: relative; top: 35px; left: -7px; font-size:98%; font-family:FreeSans,sans-serif;'>
    <p><b>Wikimedia<br/> F&ouml;rdergesellschaft</b></p>
    <p style="line-height:130%;">
    <b>Spendenkonto:</b> 1194700<br>
    Bank f&uuml;r Sozialwirtschaft<br>
    <b>BLZ:</b> 100 205 00
    </p>
  </div>
</div>
</html>

=== Bekomme ich eine Spendenquittung? ===
Für jede Spende ab 25 Euro stellen wir automatisch eine Zuwendungsbescheinigung aus. Die Zuwendungsbescheinigungen verschicken wir Ende des ersten Quartals des folgenden Jahres. Für Spenden unter 25 Euro bieten wir in der Regel keine Zuwendungsbestätigung an, da dem Finanzamt der Kontoauszug in Verbindung mit dem vereinfachten Zuwendungsbescheid als Nachweis der Spende ausreicht. Laden Sie sich dazu den [https://spenden.wikimedia.de/wiki/images/5/5c/Vereinfachter_Zuwendungsbescheid_Wikimedia_Foerdergesellschaft.pdf vereinfachten Zuwendungsbescheid] für die Wikimedia Fördergesellschaft herunter. Wenn Sie dennoch eine Zuwendungsbestätigung per Post benötigen, können Sie uns eine E-Mail senden. Falls Sie per Überweisung spenden und eine Zuwendungsbestätigung erhalten möchten, notieren Sie bitte Ihre Adresse im Verwendungszweck, damit wir Ihnen die diese postalisch zusenden können.

=== Sind meine Daten hinreichend geschützt? ===
Ihre persönlichen Daten verwenden wir ausschließlich zur Bearbeitung Ihrer Spende und - sofern Sie dies wünschen - zur Information über unsere Arbeit. Beachten Sie auch unsere [https://spenden.wikimedia.de/spenden/Datenschutz Hinweise zum Datenschutz]. Wir werden personenbezogene Spenderdaten niemals veröffentlichen, verkaufen, vermieten oder anderweitig anbieten. Ausnahmen hiervon erfordern die ausdrückliche Einwilligung des Spenders wie z.B. für den Spendenticker. Sollte ein Spender nicht ausdrücklich der Veröffentlichung seiner Spenderdaten zugestimmt haben, werden diese vertraulich behandelt. Zur Erfüllung unserer Aufgaben (Versand von Zuwendungsbestätigungen und Informationen) arbeiten wir mit externen Dienstleistern zusammen, an die für diese Zwecke gegebenenfalls personenbezogene Daten übermittelt werden. Diese Dienstleister sind vertraglich durch die Wikimedia Fördergesellschaft gebunden und dürfen personenbezogene Daten, die sie in diesem Zusammenhang erhalten, nur für die jeweils vereinbarten Zwecke verwenden.


=== Wofür wird meine Spende eingesetzt? ===
Ihre Spende wird für Technik, Community-Unterstützung, Wissensprojekte und Förderung der internationalen Zusammenarbeit verwendet. Lesen Sie auführlich nach, [https://spenden.wikimedia.de/spenden/Ihre_Spende_wirkt wie Ihre Spende wirkt], oder schauen Sie sich unsere jährlichen [https://spenden.wikimedia.de/spenden/Fragen_und_Antworten#Wie_haben_wir_bisher_Freies_Wissen_gef.C3.B6rdert? Tätigkeitsberichte] an, die detaillierte Auskunft über unsere Projekte und die Verwendung der Mittel geben.


=== Wie haben wir bisher Freies Wissen gefördert? ===
<div style="float: right; width:300px; padding:10px; margin: 0 0 5px 10px; border:1px solid gray; background-color:#EEEEEE;">
<div style="float:left; margin-right:10px; padding:3px; border:1px solid #ccc;">[[Datei:WMDE TB12 Titel.jpg|150px|link=Special:Filepath/WMDE Tätigkeitsbericht 2012 web.pdf|alt=Wikimedia Deutschland Tätigkeitsbericht 2012]]</div>

In unserem aktuellen [http://www.wikimedia.de/w/images.homepage/e/ec/WMDE_T%C3%A4tigkeitsbericht_2012_web.pdf Tätigkeitsbericht] aus dem Jahr 2012 finden Sie viele detaillierte Informationen über unsere Aktivitäten, die Mitglieder des Vereins und unsere Finanzen.

</div>
Ausführliche Informationen über unsere Arbeit sowie entsprechende Finanzübersichten für die vergangenen Jahre finden Sie in unseren Tätigkeitsberichten:

:* [https://wikimedia.de/w/images.homepage/e/ec/WMDE_T%C3%A4tigkeitsbericht_2012_web.pdf Tätigkeitsbericht 2012] (PDF, inklusive Bericht der Fördergesellschaft 2012)

:* [http://wikimedia.de/w/images.homepage/4/41/Wikimedia_Deutschland_T%C3%A4tigkeitsbericht_2011.pdf Tätigkeitsbericht 2011] (PDF, inklusive Bericht der Fördergesellschaft 2011), ''[https://www.wikimedia.de/w/images.homepage/7/7a/WMDE_2011_Annual_Report_web.pdf English version available]
''
:* [http://wikimedia.de/w/images.homepage/e/e2/WIKIMEDIA_F%C3%B6rdergesellschaft_T%C3%A4tigkeitsbericht_11_Print.pdf Tätigkeitsbericht Wikimedia Fördergesellschaft 2010] (PDF)

:* [http://wikimedia.de/w/images.homepage/3/3c/T%C3%A4tigkeitsbericht_2010_online.pdf Tätigkeitsbericht 2010] (PDF)

:* [http://wikimedia.de/w/images.homepage/7/7b/Taetigkeitsbericht_2009.pdf Tätigkeitsbericht 2009] (PDF)

:* [http://wikimedia.de/w/images.homepage/c/c0/Taetigkeitsbericht_2008.pdf Tätigkeitsbericht 2008] (PDF)

:* [http://wikimedia.de/w/images.homepage/1/14/Taetigkeitsbericht_2007.pdf Tätigkeitsbericht 2007] (PDF)

:* [http://wikimedia.de/w/images.homepage/5/53/Taetigkeitsbericht_2006.pdf Tätigkeitsbericht 2006] (PDF)

:* [http://wikimedia.de/w/images.homepage/f/f9/Taetigkeitsbericht_2005.pdf Tätigkeitsbericht 2005] (PDF)

:* [http://wikimedia.de/w/images.homepage/3/34/Taetigkeitsbericht_2004.pdf Tätigkeitsbericht 2004] (PDF)

=== Ich habe weitere Fragen. Wen kann ich ansprechen? ===
Wenn Sie weitere Fragen haben, können Sie uns gerne eine [mailto:spenden@wikimedia.de E-Mail] senden.
</div>
<noinclude>
[[Kategorie:HK2011]]
</noinclude>