<div id="greenBox" class="boxShadow">
<div style="float:right;  margin-top: 1em; margin-left: 3em; margin-right: 1em; margin-bottom: 1em;">
<div  style="border: 1px solid grey; ">
<div style="margin:2px;">[[Datei:Tmletzko.jpg|200px|link=]]</div></div>
<div style="font-size:8pt; text-align:left; ">Till Mletzko, Fundraiser <br/>Wikimedia Deutschland<br/> <small>(Foto: Michael Redeligx, CC-BY-SA-3.0)</small></div>
</div>

'''Ihre Spende wirkt''' <br />

Ich möchte Ihnen kurz erläutern, wie wir Ihre Spende verwenden.

Wikipedia ist die Nr. 5 der beliebtesten Webseiten der Welt. Andere Webseiten dieser Größenordnung beschäftigen Tausende Mitarbeiter, um an der Spitze mithalten zu können. Wir nicht. Wikipedia ist eine der meistbesuchten Internetseiten und wird dennoch mit knapp 250 Angestellten weltweit unterstützt. Andere finanzieren sich durch Werbung. Wir nicht. Wissen muss frei und unabhängig sein. Wir finanzieren uns durch die Spenden unserer Leserinnen und Leser. Ich bin jedes Mal überwältigt, welchen persönlichen Wert Wikipedia für unsere Spender besitzt. Doch schauen Sie selbst: [https://spenden.wikimedia.de/spenden/list.php Kommentare unserer Spender]

Ihre Spende wirkt - nicht nur für Sie persönlich. Wikipedia ist ein Projekt zur Förderung Freien Wissens. Wir sorgen dafür, dass Wissen frei nutzbar ist. Jeder kann und ist dazu aufgerufen, sich an den Wikimedia-Projekten zu beteiligen. Mit Ihrer Spende sind Sie ebenso Teil unserer Gemeinschaft. Doch wie wird Ihre Spende konkret eingesetzt?

<div style="float:left;  margin-top: 0.5em; margin-right: 2em; margin-bottom: 0.5em;">
{|style="border: 1px solid grey; width: 100% "
| style="background-color:#EDEDED; text-align:left;" |Freiwilligenförderung||style="background-color:#EDEDED; text-align:right;" |1.040.000
|-
| style="background-color:#EDEDED; text-align:left;" |Softwareentwicklung||style="background-color:#EDEDED; text-align:right;" |810.000
|-
| style="background-color:#EDEDED; text-align:left;" |Politik und Gesellschaft||style="background-color:#EDEDED; text-align:right;" |480.000
|-
| style="background-color:#EDEDED; text-align:left;" |Bildung und Wissen||style="background-color:#EDEDED; text-align:right;" |500.000
|-
| style="background-color:#EDEDED; text-align:left;" |Internationales||style="background-color:#EDEDED; text-align:right;" |280.000
|-
| style="background-color:#EDEDED; text-align:left;" |Kommunikation||style="background-color:#EDEDED; text-align:right;" |440.000
|-
| style="background-color:#EDEDED; text-align:left;" |Unterstützende Bereiche und Verwaltung||style="background-color:#EDEDED; text-align:right;" |1.620.000
|-
| style="background-color:#EDEDED; text-align:left;" | Mittelweiterleitung an die Wikimedia Stiftung||style="background-color:#EDEDED; text-align:right;" |4.060.000
|-
| style="background-color:#45D388; text-align:left;" |'''Summe'''||style="background-color:#45D388; text-align:right;" |'''9.230.000'''
|-
|}
<div style="font-size:8pt; text-align:left; ">geplante Ausgaben 2014 in Euro, Quelle: [https://meta.wikimedia.org/wiki/Wikimedia_Deutschland/2014_annual_plan/de Jahresplan]</div></div>

Projekte wie Wikipedia sind Gemeinschaftsprojekte. Der Erfolg von Wikipedia ist nur möglich durch das ehrenamtliche Engagement von Abertausenden Autoren. Unsere Aufgabe als Wikimedia ist es, den Autoren zu helfen und die Technik am Laufen zu halten. Wir unterstützen die große Gemeinschaft der Freiwilligen, wir gewinnen neue Autoren und sorgen dafür, dass Wissen weltweit für jeden Menschen frei zugänglich ist.

Transparenz und Offenheit haben für mich beim Thema Spenden absolute Priorität. Dies ergibt sich auch aus der Besonderheit unserer Projekte. Wikipedia lebt Transparenz. Sie können alle Beiträge der Autoren nachvollziehen und diskutieren. Dieser Offenheit fühlen wir uns verpflichtet. Lesen Sie in unseren bisherigen [https://spenden.wikimedia.de/spenden/Fragen_und_Antworten#Wie_haben_wir_bisher_Freies_Wissen_gef.C3.B6rdert.3F Tätigkeitsberichten] nach, wie wir in der Vergangenheit Wikipedia und Freies Wissen unterstützt haben. Wir möchten Ihnen auch einen Einblick geben, wie wir Spenden im kommenden Jahr verwenden. Deshalb haben wir unseren [https://meta.wikimedia.org/wiki/Wikimedia_Deutschland/2014_annual_plan/de Jahresplan 2014] veröffentlicht. Hier können Sie transparent und detailliert einsehen, welche Projekte wir in 2014 umsetzen möchten.

Neben der Verwendung der Mittel in Deutschland unterstützen wir die Betreiberin der Wikipedia, die Wikimedia Stiftung. Wikipedia ist ein internationales Projekt und wir sind eine internationale Bewegung. Mit der Verteilung der Spenden <div style="float:right;  margin-top: 0.5em; margin-right: 1em; margin-left: 1.0em;"> [[Datei:Diagramm-spenden final.png|600px|link=]]</div>sorgen wir dafür, dass Wikipedia jederzeit für jeden Menschen auf der Welt zur freien Verfügung steht und sich ihre Wirkung in Deutschland und weltweit entfaltet.

'''Von Ihrer Spende profitieren Sie und alle Leser der Wikipedia weltweit. '''

Haben Sie Fragen oder Anmerkungen? Schreiben Sie mir eine [mailto:till.mletzko@wikimedia.de E-Mail]

Ihr

Till Mletzko
</div>