<div id="greenBox" class="boxShadow">
	<div style="margin-bottom: 2em;">
		<a href="{$ path( '/' ) $}">&#8592; zurück zum Spendenformular</a>
	</div>
	{% include 'Imprint.html.twig' %}
	<div style="margin-bottom: 2em;">
		<a href="{$ path( '/' ) $}">&#8592; zurück zum Spendenformular</a>
	</div>
</div>
