<div id="greenBox" class="boxShadow">
<div style="margin-bottom: 2em;">[https://spenden.wikimedia.de/spenden/ &#8592; zurück zum Spendenformular]</div>

{{Web:Spendenseite-DefaultSkin/test/10h16_Lightbox_Impressum}}

<div style="margin-top: 2em;">[https://spenden.wikimedia.de/spenden/ &#8592; zurück zum Spendenformular]</div>
</div>