<div class="container">
  <p>
    <strong>Ist meine Spende steuerlich absetzbar?</strong><br/>
    <br/>
    Ja, Ihre Spende ist steuerlich absetzbar. Die Wikimedia F&ouml;rdergesellschaft ist als gemeinn&uuml;tzig
    anerkannt und kann
    somit Zuwendungsbescheinigungen ausstellen. Bis zu einem Betrag von 200 &euro; gen&uuml;gt dem
    Finanzamt der sogenannten
    Vereinfachte Zuwendungsbescheid in Verbindung mit Ihrem Kontoauszug als Nachweis der Spende.
  </p>

  <p>
    <a target="_blank" href="{$ basepath $}/resources/de_DE/Vereinfachter_Zuwendungsbescheid_Foerdergesellschaft.pdf" style="color: #3366cc">
      Den vereinfachten Zuwendungsbescheid f&uuml;r die Wikimedia F&ouml;rdergesellschaft k&ouml;nnen Sie hier herunterladen.
    </a>
  </p>

  <p>
    Als Dankesch&ouml;n und Zeichen unserer Wertsch&auml;tzung stellen wir jedoch f&uuml;r jede
    Spende
    ab genau 5 Euro automatisch
    eine Zuwendungsbescheinigung aus. Diese verschicken wir zum Ende des ersten Quartals des
    folgenden
    Jahres. Wenn Sie
    Ihre Zuwendungsbest&auml;tigung eher ben&ouml;tigen, sagen Sie uns einfach Bescheid. Auf
    Nachfrage
    versenden wir die
    Best&auml;tigung auch gern eher.
  </p>

  <p>
    F&uuml;r Spenden unter 5 &euro; bieten wir in der Regel keine Zuwendungsbest&auml;tigung an, da
    dem
    Finanzamt der Kontoauszug in
    Verbindung mit dem vereinfachten Zuwendungsbescheid als Nachweis der Spende ausreicht. Ebenso m&ouml;chten
    wir die Kosten
    f&uuml;r Verwaltung und Versand m&ouml;glichst gering halten. Wenn Sie dennoch eine
    Zuwendungsbest&auml;tigung
    erhalten m&ouml;chten,
    ist dies nat&uuml;rlich kein Problem. Gern stellen wir Ihnen eine Best&auml;tigung aus.
    Schreiben
    Sie uns dazu einfach eine
    E-Mail an <a href="mailto:spenden@wikimedia.de">spenden@wikimedia.de</a>.
  </p>

  <p>
    Bitte beachten Sie: Bei selbstst&auml;ndigen &Uuml;berweisungen m&uuml;ssen Sie die Adresse in
    den
    Verwendungszweck eintragen, wenn
    Sie eine Zuwendungsbest&auml;tigung erhalten m&ouml;chten. Komfortabler ist es jedoch, wenn Sie
    mittels unseres
    Spendenformulars per &Uuml;berweisung spenden. Dort k&ouml;nnen Sie Ihre Adresse direkt
    eingeben.
    Die Kontoverbindung wird
    Ihnen dann im Anschluss mitsamt dem Code Ihrer Spende mitgeteilt. Diesen Code tragen Sie bitte
    bei
    Ihrer &Uuml;berweisung
    in den Verwendungszweck ein.
  </p>
</div>
