__KEIN_INHALTSVERZEICHNIS__
__NOEDITSECTION__

<span style="float:right; padding-right:0.5em; padding-top:1.0em">[[Datei:Transparente Zivilgesellschaft.png|350px|link=|alt=Logo der Initiative Transparente Zivilgesellschaft]]</span>


Als gemeinnütziger Verein ist sich Wikimedia Deutschland e.V. seiner Verantwortung gegenüber dem Gemeinwohl bewusst und möchte mit transparenten Zielen, Mitteln und Strukturen Vertrauen schaffen. Aus diesem Grund hat sich der Verein der Initiative Transparente Zivilgesellschaft angeschlossen und verpflichtet sich die folgenden Informationen auf seiner Webseite öffentlich zugänglich zu machen.



=== 1. Name, Sitz, Anschrift und Gründungsjahr unserer Organisation ===

:*Wikimedia Deutschland - Gesellschaft zur Förderung Freien Wissens e. V. <br />
:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tempelhofer Ufer 23/24 <br />
:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10963 Berlin <br />

:*Der gemeinnützige Verein wurde 2004 von aktiven Wikipedia-Autoren gegründet.


=== 2. Vollständige Satzung sowie Angaben zu den Zielen unserer Organisation ===

:* Wikimedia Deutschland e.V. ist ein gemeinnütziger Verein, der sich für die Förderung Freien Wissens einsetzt. Ausführliche Informationen zu unseren Zielen und Aufgaben finden sie in unserer [http://www.wikimedia.de/wiki/Satzung Satzung].
:* Darüber hinausgehende Informationen können Sie unseren [https://spenden.wikimedia.de/spenden/Fragen_und_Antworten#Wie_haben_wir_bisher_Freies_Wissen_gef.C3.B6rdert.3F Tätigkeitsberichten] entnehmen.


=== 3. Angaben zur Steuerbegünstigung ===

:* Der Verein Wikimedia Deutschland – Gesellschaft zur Förderung Freien Wissens e. V. ist wegen Förderung der Bildung und Erziehung nach dem letzten Freistellungsbescheid des Finanzamtes für Körperschaften I Berlin unter der Steuernummer 27/681/51985 vom 22. November 2011 für die Jahre 2008, 2009 und 2010 nach § 5 Abs. 1 Nr. 9 des Körperschaftssteuergesetzes von der Körperschaftssteuer und nach § 3 Nr. 6 des Gewerbesteuergesetzes von der Gewerbesteuer befreit.
:* Die Wikimedia Fördergesellschaft ist durch die Bescheinigung vom Finanzamt für Körperschaften I Berlin vom 21. Oktober 2013 unter der Steuernummer 27/603/54814 nach § 5 Abs. 1 Nr. 9 des Körperschaftssteuergesetzes von der Körperschaftssteuer und nach § 9 Nr. 5 des Gewerbesteuergesetzes Nr. 5 von der Gewerbesteuer befreit und im Sinne der §§ 51ff AO als gemeinnützig anerkannt. Spenden können somit steuerlich geltend gemacht werden.


=== 4. Name und Funktion wesentlicher Entscheidungsträger ===

:* Wikimedia Deutschland wird durch einen hauptamtlichen Vorstand geleitet. Hauptamtlicher Vorstand des Vereins ist Pavel Richter. Gesetzliche Vertretung erfolgt durch den Vorstand nach § 26 BGB, der satzungsgemäß aus mindestens einer Person besteht.
:* Die Kontrolle des Vorstands obliegt dem ehrenamtlichen Präsidium des Vereins.


=== 5. Tätigkeitsbericht ===

:* Unsere jährlichen Tätigkeitsberichte finden Sie [https://spenden.wikimedia.de/spenden/Fragen_und_Antworten#Wie_haben_wir_bisher_Freies_Wissen_gef.C3.B6rdert.3F hier] (PDF).


=== 6. Personalstruktur ===

:* Für Wikimedia Deutschland e.V. und die Wikimedia Fördergesellschaft mbH arbeiten 50 Festangestellte (Vollzeit/Teilzeit), 2 freie Mitarbeiter, 15 Werkstudenten und 1 Praktikant.


=== 7. Angaben zur Mittelherkunft ===

:* Angaben zu unseren Einnahmequellen finden Sie in unseren [https://spenden.wikimedia.de/spenden/Fragen_und_Antworten#Wie_haben_wir_bisher_Freies_Wissen_gef.C3.B6rdert.3F Tätigkeitsberichten] und in unseren Jahresabschlüssen:


:::* [https://spenden.wikimedia.de/spenden/Transparenz-Jahresabschluss_2004 Jahresabschluss 2004]
:::* [https://spenden.wikimedia.de/spenden/Transparenz-Jahresabschluss_2005 Jahresabschluss 2005]
:::* [https://spenden.wikimedia.de/spenden/Transparenz-Jahresabschluss_2006 Jahresabschluss 2006]
:::* [https://spenden.wikimedia.de/spenden/Transparenz-Jahresabschluss_2007 Jahresabschluss 2007]
:::* [https://spenden.wikimedia.de/spenden/Transparenz-Jahresabschluss_2008 Jahresabschluss 2008]
:::* [https://spenden.wikimedia.de/spenden/Transparenz-Jahresabschluss_2009 Jahresabschluss 2009]
:::* [https://spenden.wikimedia.de/spenden/Transparenz-Jahresabschluss_2010 Jahresabschluss 2010]
:::* [https://spenden.wikimedia.de/spenden/Transparenz-Jahresabschluss_2011 Jahresabschluss 2011]
:::* [https://spenden.wikimedia.de/spenden/Transparenz-Jahresabschluss_2012 Jahresabschluss 2012]


=== 8. Angaben zur Mittelverwendung ===

:* Detaillierte Informationen zur Verwendung unserer Einnahmen stehen Ihnen ebenso in unserem aktuellen [https://spenden.wikimedia.de/spenden/Fragen_und_Antworten#Wie_haben_wir_bisher_Freies_Wissen_gef.C3.B6rdert.3F Tätigkeitsbericht] zur Verfügung und in unseren Jahresabschlüssen.


=== 9. Gesellschaftsrechtliche Verbundenheit mit Dritten ===

:* Die ''Gemeinnützige Wikimedia Fördergesellschaft mbH'' ist eine hundertprozentige Tochtergesellschaft von Wikimedia Deutschland. Sie hat zum alleinigen Zweck die Einwerbung und Verteilung von Spenden an Wikimedia Deutschland und an die amerikanische ''Wikimedia Foundation Inc.'', der Betreiberin der Wikipedia und weiterer Projekte. Geschäftsführer der Fördergesellschaft ist Pavel Richter.


=== 10. Namen von juristischen Personen, deren jährliche Zahlungen mehr als 10 % des Gesamtjahresbudgets ausmachen ===


:* Einzelspenden, die über 10 % der gesamten Jahreseinnahmen ausmachen, gibt es nicht.



Weitere Informationen zu dieser Initiative finden Sie unter: [http://www.transparente-zivilgesellschaft.de www.transparente-zivilgesellschaft.de]