<div class="container" id="benefactors">
  <section id="benefactors-1st-list">
    <div class="container clearfix">
      <div class="ltcol">
        &nbsp;
      </div>

      <div class="ctcol">{% include 'Supporter_List.html.twig' %}</div>

      <div class="rtcol">
        <div class="icon-ok-sign _icon-list-item last">
          <p>
            <strong>Spenden auch Sie!</strong>
          </p>

          <p>
            Unterstützen Sie die Wikipedia und Freies Wissen mit Ihrer <a target="_blank" href="https://spenden.wikimedia.de/spenden/?piwik_campaign=spenden_wikimedia_benefactors&amp;piwik_kwd=benefactors">Spende</a>.
          </p>
        </div>

    </div>
  </section>
</div>
