<nav id="footer-menu">
	<ul class="horizontal clearfix footer-menu-list">
		<li><a href="{$ path( 'page', { pageName: 'Kontaktformular' } ) $}">Kontakt</a></li>
		<li><a class="wlightbox inline" href="{$ path( 'page', { pageName: 'Impressum' } ) $}" data-href="#wlightbox-impressum">Impressum</a></li>
		<li class="last"><a class="wlightbox inline" href="{$ path( 'page', { pageName: 'Datenschutz' } ) $}" data-href="#wlightbox-datenschutz">Datenschutz</a></li>
	</ul>
</nav>
<div class="wlightbox-contents">
	<div id="wlightbox-impressum">
		{% include '10h16_Lightbox_Impressum.html.twig' %}
	</div>
	<div id="wlightbox-datenschutz">
		{% include '10h16_Lightbox_Datenschutz.html.twig' %}
	</div>
</div>
