<nav id="footer-menu">
	<ul class="horizontal clearfix footer-menu-list">
		<li><a href="/page/Kontaktformular">Kontakt</a></li>
		<li><a class="wlightbox inline" href="Impressum" data-href="#wlightbox-impressum">Impressum</a></li>
		<li class="last"><a class="wlightbox inline" href="Datenschutz" data-href="#wlightbox-datenschutz">Datenschutz</a></li>
	</ul>
</nav>
<div class="wlightbox-contents">
	<div id="wlightbox-impressum">
</html>{{Web:Spendenseite-DefaultSkin/test/10h16_Lightbox_Impressum}}<html>
</div>
<div id="wlightbox-datenschutz">
</html>{{Web:Spendenseite-DefaultSkin/test/10h16_Lightbox_Datenschutz}}<html>
</div>
</div>
